process {
    cache = true

    withLabel: multiqc {
         container = 'quay.io/biocontainers/multiqc:1.12--pyhdfd78af_0'
    }

    withLabel: samtools {
         container = 'quay.io/biocontainers/samtools:1.6--hcd7b337_9'
    }

    cpus = 1
    memory = 4.GB
    time = 12.h
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000
}

 docker {
    enabled = true
    runOptions = "--network host"
 }